<style>
    body {
        font-size: 12px;
        background: #eaeaea;
    }

    .jumbotron {
        background: rgb(36, 36, 36);
        color: #FFF;
        border-radius: 0px;
    }

    .jumbotron-sm {
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .jumbotron small {
        color: #FFF;
    }

    .h1 small {
        font-size: 24px;
    }

    /* our team */
    .site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
    }
    .paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
    }
    .imo img{
        height: 300px;
        width: 250px;
    }
</style>

<header ng-include="'/views/header.html'"></header>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    About
                    <!-- <small>Know about us</small> -->
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="imo aboutus-image float-left">
                    <img src="images/1.jpg" alt="img">
                </div>
            </div>

            <div class="col-md-8">
                <h1 class="strong">Who we are and
                    <br>what we do</h1>
                <p class="lead">This is the world's leading portal for
                    <br>easy and quick </p>
            </div>
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis
                    fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis
                    fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet. Nulla convallis
                    egestas rhoncus.</p>
            </div>
        </div>
    </div>
</div>

<div class="container team-sektion paddingTB60">
    <div class="row">
        <div class="site-heading text-center">
            <div class="col-md-12">
            <h3>Our Team</h3>
            <p>We take care of website, we do maintenance, modifies, we update too, we take care of daily bolgs upload.
                Taking care of daily uploading by hosting daily.</p>
            </div>     
            <div class="border"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 team-box">
            <div class="team-img thumbnail">
                <img src="images/rehman.jpg">
                <div class="team-content">
                    <h3>Rehman Mulla</h3>
                    <div class="border-team"></div>
                    <p>He is the senior developer the frontend is done by him. The work of him is to understand the requirement of client
                        and complete his needs. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 team-box">
            <div class="team-img thumbnail">
                <img src="images/san.jpg">
                <div class="team-content">
                    <h3>Sankalp Bhat</h3>
                    <div class="border-team"></div>
                    <p>He is the Developer the backend work is handled by him. His work is to provide the data to frontend and security of data.
                        the connection between frontend and backend is take care by him.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 team-box">
            <div class="team-img thumbnail">
                <img src="images/rehman.jpg">
                <div class="team-content">
                    <h3>Salman Khan</h3>
                    <div class="border-team"></div>
                    <p>He is the Developer the backend work is handled by him. His work is to provide the data to frontend and security of data.
                        the connection between frontend and backend is take care by him.</p>
                </div>
            </div>
        </div>
    </div>
</div>