<style>
    /* .social-icons */
    .footer-top{
	background-color: #c2c0c0;
    text-align: center;
    }
    .footer-top .social-icons{
    padding:10px 0px;
    }
    .footer-top .social-icons i{
        padding:0px 10px;
        font-size:24px;
        color: rgb(230, 230, 230);
    }
    .footer-top .social-icons i:hover{
        color:#1e76a8;
    }

    .footer-bottom {
        margin: 0px;
        padding-top: 15px;
        border-top: px solid #2f2f33;
        background: #1e1d22;
    }
    .copyright-text p {
        color: #7d7975;
        font-size: 15px;
    }
    .copyright-text a {
        color: #7d7975;
        margin: 0px;
    }
</style>

<div class="footer-top">
    <div class="container">
       <div class="social-icons">
             <i class="icon fa fa-twitter"></i>
             <i class="icon fa fa-facebook"></i>
             <i class="icon fa fa-google-plus"></i>
             <i class="icon fa fa-instagram"></i>
             <!-- <i class="icon fa fa-pinterest"></i> -->
             <i class="icon fa fa-youtube-play"></i>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="copyright-text">
                    <p>CopyRight © 2018 Digital All Rights Reserved</p>
                </div>
            </div>
            <!-- End Col -->
            <div class="col-md-6  ">
                <div class="copyright-text pull-right">
                    <p>
                        <a href="#">Home</a> |
                        <a href="">Privacy</a> |
                        <a href="">Terms & Conditions</a> |
                        <a href="">Refund Policy</a>
                    </p>
                </div>
            </div>
            <!-- End Col -->
        </div>
    </div>
</div>